// colors
$color-primary: #191a1a;
$color-primary-dark-shade: #1f2121;
$color-primary-light-shade: #2a2c2c;
$color-primary-light-shade-2: #3d3f3f;
$color-secondary: #31b8c6;
$color-text: #e8e8e3;
$color-text-light-shade: #c8c2c2;
$color-green: #4ade80;
$color-green-light-shade: #4ade8063;
$color-red: #f87171;
$color-red-light-shade: #f8717158;
$color-yellow: #facc15;
