@import "./mixins";
@import "./variables";
@import "../../../styles/app";

.chat {
  @include center-grid;
  min-height: 100vh;
  padding: $spacing-md;

  @include tablet-up {
    padding: $spacing-lg;
  }

  &__container {
    width: 100%;
    max-width: 100%;
  }

  &__header {
    margin-bottom: $spacing-xl;
  }

  &__main {
    text-align: center;
    margin-bottom: $spacing-xl;

    &__title {
      font-size: $font-size-4xl;
      font-weight: 500;
      margin-bottom: $spacing-md;

      @include mobile-only {
        font-size: $font-size-3xl;
      }
    }

    &__description {
      font-size: $font-size-xl;
      color: $color-text-light-shade;

      @include mobile-only {
        font-size: $font-size-lg;
      }
    }
  }

  &__footer {
    margin-top: auto;
  }
}
