@import "../../../../../app/styles/variables";
@import "../../../../../app/styles/mixins";

.test-category-cards-wrapper {
  &__container {
  }
  &__header {
    &__title {
      font-size: 18px;
      font-weight: 600;
      color: $color-text;
      margin: 0;
      line-height: 1.3;
      text-align: center;
    }
  }
  &__main {
    margin-top: 2rem;
  }
  &__footer {
  }
}
